@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Montserrat', sans-serif;
}

.MuiBadge-badge {background: red !important;}
.ReactCollapse--collapse {
  transition: height 500ms;
}
.text-primary{color: #3872fa;}

.btn-blue{background: #3872fa !important; color: #fff !important; padding: 8px 20px !important;}
.btn-green{background: greenyellow !important; color: #fff !important; padding: 8px 20px !important;}

a .isActive button{ background: #e3e3e3 !important;}

.btn-active { background: #2a5bd7 !important; color: #fff !important; padding: 8px 20px !important;}
.MuiAppBar-colorPrimary{background: #e6e6e6 !important;}

input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }