.smlBtn .swiper-button-prev, .smlBtn .swiper-button-next{
    width: 30px; height: 30px; min-width: 30px !important; top:55% !important
}
.smlBtn .swiper-button-next::after{
    font-size:18px !important; color:black !important;
}
.smlBtn .swiper-button-next:hover::after{
     color:white !important;
}
.smlBtn .swiper-button-prev::after{
    font-size:18px !important; color:black !important;
}