.productItem .title{
    line-height: 20px;
}
.productSlider .swiper-wrapper{
    padding: 15px; margin-left: -15px; margin-right: -15px;
}
.productItem .actions button svg{
    pointer-events: none !important;
}
