.MuiTypography-root {
    font-size: 13px;
    
}
.sidebar .scroll{
    max-height: 250px; overflow-y: scroll; overflow-x: hidden; width: 100%;
}
.sidebar .scroll::-webkit-scrollbar{width:5px !important;height: 2px !important;}
.sidebar .scroll::-webkit-scrollbar-thumb{background: #ccc !important;}
.scroll::-webkit-scrollbar-track {
  background: #f1f1f1 !important; 
}

.MuiButton-text {
    color: black  !important;
}
.ReactCollapse--collapse {
  transition: height 500ms;
}
.range-slider .range-slider__thumb{
  width:14px !important;
  height: 14px !important;
  background-color: #ff5252 !important;
}
.range-slider .range-slider__range{
  background-color: #ff5252 !important;
}
.range-slider {
  height: 4px !important;
  
}